<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.siacademica.MascotasS4">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_mascota"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="co.siacademica.MascotasS4.layout.ListaMascotas">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="co.siacademica.MascotasS4.layout.About"
            android:parentActivityName="co.siacademica.MascotasS4.layout.ListaMascotas"/>

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="co.siacademica.MascotasS4.layout.ListaMascotas">
        </meta-data>

        <activity android:name="co.siacademica.MascotasS4.layout.ContactoActivity"
            android:parentActivityName="co.siacademica.MascotasS4.layout.ListaMascotas"/>
        <activity android:name="co.siacademica.MascotasS4.layout.MascotasFavoritas"
            android:parentActivityName="co.siacademica.MascotasS4.layout.ListaMascotas"></activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>